* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color:#f9f9f9 ;
    color:#333;
    padding-top: 70px;
    line-height: 2;
}
/* Navigation Bar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 15px;
    z-index: 1000;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}
.nav-links li a:hover {
    background-color: #444;
    border-radius: 4px;
}
/* Header Styling */
header {
    text-align: center;
    padding: 40px 20px 20px;
}
h1 {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}
/* Main Content Styling */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* Blog Post Styling */
.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 1.8;
}
/* Heading Styling for Blog Posts */
.blog-post h2 {
    font-size: 20px;
    color: #2C3E50;
    margin-bottom: 15px;
}
/* Paragraph Styling for Blog Posts */
.blog-post p {
    margin-bottom: 15px;
}
/* Link Styling in Blog Posts */
.blog-post a {
    color: #3498DB;
    text-decoration: none;
}
.blog-post a:hover {
    text-decoration: underline;
}